// CSS Variables
// CSS Variables

$red: #EC292A;
$white: #fff;
$black: #000;

$font-primary: 'canada-type-gibson', 'san-serif';

$mobile: 480px;
$tablet: 760px;
$tablet-landscape: 968px;
$desktop: 1200px;

// Global Styles

* {
	box-sizing: border-box;
}

.btn {
	border: 1px solid $white;
	text-transform: uppercase;
	font-size: .81rem;
	letter-spacing: .7px;
	line-height: 1;
	font-weight: 600;
	font-family: $font-primary;
	color: $white;
	padding: 10px 40px;
	z-index: 4;
	margin-bottom: 40px;

	&--red {
		background-color: $red;
	}

	&--black {
		background-color: transparent;
	}
}

body {
	margin: 0;
}

#homepage {

    .header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 50px;
		background-color: $white;
		// z-index: 9999;

		@media only screen and ( min-width: $tablet ) {
			height: 110px;
		}

		&__img {
			height: auto;
			width: 44px;

			@media only screen and ( min-width: $tablet ) {
				width: 97px;
			}
		}

		&__title {
			font-size: 1.3125rem;
			font-family: $font-primary;
			font-weight: 700;
			color: $red;
			line-height: 2px;
			letter-spacing: 0.58px;

			@media only screen and ( min-width: $tablet ) {
				font-size: 1.8125rem;
				line-height: 1.125;
				letter-spacing: .81px;
			}
		}

		&__menu {
			display: inline-block;
			cursor: pointer;

			.line1, .line2, .line3 {
				width: 35px;
				height: 5px;
				background-color: $red;
				margin: 6px 0;
				transition: 0.4s;
			}

			.change .line1 {
				-webkit-transform: rotate(-45deg) translate(-9px, 6px);
				transform: rotate(-45deg) translate(-9px, 6px);
			}

			.change .line2 {opacity: 0;}

			.change .line3 {
				-webkit-transform: rotate(45deg) translate(-8px, -8px);
				transform: rotate(45deg) translate(-8px, -8px);
			}

			@media only screen and ( min-width: $tablet ) {
				display: none;
			}
		}
    }

	.hero {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		text-align: center;
		align-items: center;
		width: 100%;
		height: 355px;
		overflow: hidden;

		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;


		&:after {
			content: "";
			position: absolute;
			top: 50px;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba( 0, 0, 0, 0.67 );
			max-height: 355px;
			z-index: 1;

			@media only screen and ( min-width: $tablet ) {
				top: 110px;
			}
		}

		&__container {
			width: 100%;
		}

		&__inner-container {
			margin: 40px 15px 0;
			position: relative;
			z-index: 2;
		}

		&__title {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 100%;
			color: $white;
			font-size: 1.9rem;
			font-weight: 700;
			font-family: $font-primary;
			line-height: 1;
			text-transform: uppercase;
			padding: 0 60px 20px;
			margin-bottom: 0;

			@media only screen and ( min-width: 600px ) {
				font-size: 3rem;
				line-height: 1.125;
				letter-spacing: .75px;
			}
		}

		&__info {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 100%;
			color: $white;
			font-size: .81rem;
			font-weight: 300;
			font-family: $font-primary;
			line-height: 1.5;
			letter-spacing: -.1px;
			margin: 0 auto 30px;
			max-width: 800px;

			@media only screen and ( min-width: $tablet ) {
				font-size: 1.25rem;
				line-height: 1.6;
			}
		}

		&__btn {
			margin-bottom: 50px;
		}
	}

	.advantages {
		padding-top: 15px;

		&__container {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-evenly;
			align-content: center;
			align-items: center;

			@media only screen and ( min-width: $tablet ) {
				max-width: $desktop;
				margin: 0 auto;
			}
		}

		&__title {
			width: 100%;
			text-align: center;
			color: $red;
			font-size: 1.31rem;
			font-weight: 600;
			font-family: $font-primary;
			line-height: 1.1;
			letter-spacing: .33px;
			text-transform: uppercase;

			@media only screen and ( min-width: $tablet ) {
				font-size: 2.125rem;
				letter-spacing: .53px;
			}
		}

		&__items-container {
			text-align: center;
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 100%;

			@media only screen and ( min-width: $tablet ) {
				flex-grow: 0;
				flex-shrink: 0;
				flex-basis: calc( 33% - 80px);
			}
		}

		&__img {
			width: 64px;
			height: auto;
			margin-top: 20px;

			@media only screen and ( min-width: $tablet ) {
				width: 128px;
				height: auto;
			}
		}

		&__subtitle {
			color: $red;
			font-size: 1rem;
			font-weight: 600;
			letter-spacing: .36px;
			line-height: 1.56;
			text-transform: uppercase;
			font-family: $font-primary;
			margin-bottom: 5px;

			@media only screen and ( min-width: $tablet ) {
				font-size: 1.125rem;
				letter-spacing: .4px;
			}
		}

		&__info {
			color: $black;
			font-size: .81rem;
			font-weight: 300;
			font-family: $font-primary;
			line-height: 1.56;
			letter-spacing: -.2px;
			margin: 0 auto 10px;
			max-width: 290px;

			@media only screen and ( min-width: $tablet ) {
				font-size: 1rem;
				max-width: 227px;
			}
		}

		.adv-btn {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: auto;
			margin: 20px auto 20px;
		}

		&__outerbutton {
			width: 100%;
			text-align: center;
		}
	}
}

