* {
  box-sizing: border-box; }

.btn {
  border: 1px solid #fff;
  text-transform: uppercase;
  font-size: .81rem;
  letter-spacing: .7px;
  line-height: 1;
  font-weight: 600;
  font-family: "canada-type-gibson", "san-serif";
  color: #fff;
  padding: 10px 40px;
  z-index: 4;
  margin-bottom: 40px; }
  .btn--red {
    background-color: #EC292A; }
  .btn--black {
    background-color: transparent; }

body {
  margin: 0; }

#homepage .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #fff; }
  @media only screen and (min-width: 760px) {
    #homepage .header {
      height: 110px; } }
  #homepage .header__img {
    height: auto;
    width: 44px; }
    @media only screen and (min-width: 760px) {
      #homepage .header__img {
        width: 97px; } }
  #homepage .header__title {
    font-size: 1.3125rem;
    font-family: "canada-type-gibson", "san-serif";
    font-weight: 700;
    color: #EC292A;
    line-height: 2px;
    letter-spacing: 0.58px; }
    @media only screen and (min-width: 760px) {
      #homepage .header__title {
        font-size: 1.8125rem;
        line-height: 1.125;
        letter-spacing: .81px; } }
  #homepage .header__menu {
    display: inline-block;
    cursor: pointer; }
    #homepage .header__menu .line1, #homepage .header__menu .line2, #homepage .header__menu .line3 {
      width: 35px;
      height: 5px;
      background-color: #EC292A;
      margin: 6px 0;
      transition: 0.4s; }
    #homepage .header__menu .change .line1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px); }
    #homepage .header__menu .change .line2 {
      opacity: 0; }
    #homepage .header__menu .change .line3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px); }
    @media only screen and (min-width: 760px) {
      #homepage .header__menu {
        display: none; } }

#homepage .hero {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 355px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #homepage .hero:after {
    content: "";
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.67);
    max-height: 355px;
    z-index: 1; }
    @media only screen and (min-width: 760px) {
      #homepage .hero:after {
        top: 110px; } }
  #homepage .hero__container {
    width: 100%; }
  #homepage .hero__inner-container {
    margin: 40px 15px 0;
    position: relative;
    z-index: 2; }
  #homepage .hero__title {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    color: #fff;
    font-size: 1.9rem;
    font-weight: 700;
    font-family: "canada-type-gibson", "san-serif";
    line-height: 1;
    text-transform: uppercase;
    padding: 0 60px 20px;
    margin-bottom: 0; }
    @media only screen and (min-width: 600px) {
      #homepage .hero__title {
        font-size: 3rem;
        line-height: 1.125;
        letter-spacing: .75px; } }
  #homepage .hero__info {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    color: #fff;
    font-size: .81rem;
    font-weight: 300;
    font-family: "canada-type-gibson", "san-serif";
    line-height: 1.5;
    letter-spacing: -.1px;
    margin: 0 auto 30px;
    max-width: 800px; }
    @media only screen and (min-width: 760px) {
      #homepage .hero__info {
        font-size: 1.25rem;
        line-height: 1.6; } }
  #homepage .hero__btn {
    margin-bottom: 50px; }

#homepage .advantages {
  padding-top: 15px; }
  #homepage .advantages__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center; }
    @media only screen and (min-width: 760px) {
      #homepage .advantages__container {
        max-width: 1200px;
        margin: 0 auto; } }
  #homepage .advantages__title {
    width: 100%;
    text-align: center;
    color: #EC292A;
    font-size: 1.31rem;
    font-weight: 600;
    font-family: "canada-type-gibson", "san-serif";
    line-height: 1.1;
    letter-spacing: .33px;
    text-transform: uppercase; }
    @media only screen and (min-width: 760px) {
      #homepage .advantages__title {
        font-size: 2.125rem;
        letter-spacing: .53px; } }
  #homepage .advantages__items-container {
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%; }
    @media only screen and (min-width: 760px) {
      #homepage .advantages__items-container {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc( 33% - 80px); } }
  #homepage .advantages__img {
    width: 64px;
    height: auto;
    margin-top: 20px; }
    @media only screen and (min-width: 760px) {
      #homepage .advantages__img {
        width: 128px;
        height: auto; } }
  #homepage .advantages__subtitle {
    color: #EC292A;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .36px;
    line-height: 1.56;
    text-transform: uppercase;
    font-family: "canada-type-gibson", "san-serif";
    margin-bottom: 5px; }
    @media only screen and (min-width: 760px) {
      #homepage .advantages__subtitle {
        font-size: 1.125rem;
        letter-spacing: .4px; } }
  #homepage .advantages__info {
    color: #000;
    font-size: .81rem;
    font-weight: 300;
    font-family: "canada-type-gibson", "san-serif";
    line-height: 1.56;
    letter-spacing: -.2px;
    margin: 0 auto 10px;
    max-width: 290px; }
    @media only screen and (min-width: 760px) {
      #homepage .advantages__info {
        font-size: 1rem;
        max-width: 227px; } }
  #homepage .advantages .adv-btn {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    margin: 20px auto 20px; }
  #homepage .advantages__outerbutton {
    width: 100%;
    text-align: center; }
